.settings-button {
    height: 40px;
    width: 40px;
    margin-top: 1rem;
    margin-left: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.pink-settings-button {
    background-image: url("../../assets/settings/settings-svgrepo-com-pink.svg");
}

.purple-settings-button {
    background-image: url("../../assets/settings/settings-svgrepo-com-purple.svg");
}

.blue-settings-button {
    background-image: url("../../assets/settings/settings-svgrepo-com-blue.svg");
}

.green-settings-button {
    background-image: url("../../assets/settings/settings-svgrepo-com-green.svg");
}

.orange-settings-button {
    background-image: url("../../assets/settings/settings-svgrepo-com-orange.svg");
}

.yellow-settings-button {
    background-image: url("../../assets/settings/settings-svgrepo-com-yellow.svg");
}